// Modules
@import './modules/_colors';
@import './modules/_fonts';

// Partials
@import './partials/_special';
@import './partials/_center';
@import './partials/_nav';

// Pages
@import './pages/_home';
@import './pages/_work';
@import './pages/_about';

body {
  background: $black;
}
.container {
  padding: 10px;
  position: relative;
}
